body {
    background: black;
}

.hero{
	display: flex;
	align-items: center;
	height: 30vh;
	background: #2C2CE5 ;
}

.hero .device-info{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	padding-top: 5px;
}
.hero .device-info p{
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}



.hero img{
	height: 50px;
	width: 50px;
}
.h-des{
	color: white ;
	font-size: 12px ;
	margin-top: 25px ;
	margin-left: -12px; 
}
.h-des h2{
	font-size: 19px ;
}
.h-des p{
	margin-top: -9px;
}

.h-svg{
	z-index : -1;
}

.assets{
	min-height: 170px;
	margin-top : -120px;
	border-radius : 20px;
	background : #242424;
	z-index : 99;
	position : relative ;
	box-sizing : border-box ;
	padding : 13px ;
	color: white ;
}
.assets p{
	margin: 5px ;
	font-size : 16px;
}
.assets p:nth-child(2){
		font-weight : 600;
		font-size : 23px;
}

.assets .divider{
	background: #443D3D;
	height: 1px;
	width: 100%;
	border-radius: 10px;
}

.assets-btn{
	margin-top: 20px; 
	box-sizing: border-box;
}

.assets .btn{
	border-width: 1px;
  margin-left: 5px;
	margin-right: 5px;
	padding-left: 15px;
	padding-right: 15px;

}

.profile-tabs{
	position: relative;
	min-height: 170px;
	margin-top : -120px;
	border-radius : 20px;
	background : #242424;
	box-sizing : border-box;
	padding : 13px;
	color: white;
}

.profile-tabs .divider {
	position: absolute;
	top: 60px;
	left: auto;
	background: #443D3D;
	height: 1px;
	width: 80%;
	z-index: 55;
}

/* update profile form styling */
#update-profile-form input{
	background: #4D4F5DAB;
	color: white;
	border: 0.2px solid white;
}

#update-profile-form input:focus{
	background: #4D4F5DAB;
	box-shadow: none;
}

.nav-pills{
	box-sizing: border-box ;
	max-width: 300px;
}
.btn-pill-1 {
	width: 74px;
	padding: 10px 5px 10px 5px;
	margin-left: 0;
}


.card{
	width: 200px;
	overflow: hidden;
	box-sizing: border-box;
	border: none;
}

.card-body{
	background: #171616;
	width: 200px;
}

.card-title{
	font-size: 17px;
	font-weight: 600;
}

.delete-btn{
	font-size: 12px;
}

 .delete-btn:hover{
	box-shadow: none;
	background: none;
	border: 1px solid white;
}
